<div class="easyui-panel" title="<?php L('basic_info_for_data'); ?>" data-options="collapsible:true">
    
</div>
<table cellspacing="0" style="width: 100%;">
	<tr>
		<td width="400px">
			<div class="easyui-panel" style="width:400px" title="<?php L('basic_info_for_data'); ?>" data-options="collapsible:true">
			    <?php echo $html; ?>
			</div>
			
		</td>
		<td>
			<div class="easyui-panel" style="width: 100%;" title="<?php L('basic_info_for_data'); ?>" data-options="collapsible:true">
			    <?php echo $html; ?>
			</div>
		</td>
	</tr>

</table>