<table>
	<tr>
		<td></td>
		<td><input id="iptWXUrl" type="text"/><a href="javascript:;" id="aFetchWX">抓取微信内容</a></td>
	</tr>
	<tr>
		<td>{title_name}:</td>
		<td colspan="3">{title}</td>
	</tr>
	<tr>
		<td>{eng_alias_name}:</td>
		<td colspan="3">{eng_alias}</td>
	</tr>
	<tr>
		<td>{desc_name}:</td>
		<td colspan="3">{desc}</td>
	</tr>
	<tr>
		<td>{cover_img_id_name}:</td>
		<td colspan="3">{cover_img_id}</td>
	</tr>
	<tr>
		<td>{category_name}:</td>
		<td>{category}</td>
	</tr>
	<tr>
		<td>{tag_name}:</td>
		<td>{tag}</td>
	</tr>
	<tr>
		<td>{recommend_tag_name}:</td>
		<td>{recommend_tag}</td>
	</tr>
	<tr>
		<td>{content_name}:</td>
		<td colspan="3">{content}</td>
	</tr>
	<tr>
		<td>{pub_time_name}:</td>
		<td colspan="3">{pub_time}</td>
	</tr>
	<tr>
		<td>{status_name}:</td>
		<td colspan="3">{status}</td>
	</tr>
	<tr>
		<td width="100px"></td>
		<td colspan="3">{submit}</td>
	</tr>
</table>
<script type="text/javascript">
	$('#aFetchWX').click(function(){
		
		$.get('/cms/index/fetchWXContent?url='+encodeURIComponent($('#iptWXUrl').val()),'',function(data){
			var rs = bs_str2obj(data);
            if(rs.code == APICODE_SUCC){
            	$('#ipt_title').val(rs.data.title);
            	$("#content").cleditor({width:800, height:300, updateTextArea:function (){}})[0].clear().execCommand("inserthtml", rs.data.content, null, null);
            }else{
              alert('error');
            }
		})
		
	})

</script>