@charset "utf-8";
/* CSS Document */


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td span{
	margin: 0;
	padding: 0;
	border: 0;
	
}

@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:30px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  
}
.iconhhz {
  font-family:"iconfont" !important;
  font-size:20px;
  margin:5px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  
}
body {
	font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;

}
h4 {
	font-size: 13px;
	font-weight: bold;
}
h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom:5px;
}
h2 {font-size:20px;
	font-weight: bold;
		margin-bottom:7px;
		margin-top: 2px;

}
.headlogo{
	float:left;
	margin-right:50px;
	}

#footlogo{
	margin-bottom:15px;
}

.whitefont {
	color: #FFF;
	margin-top:10px;
	margin-bottom:10px;
} /*白色字*/
.footer-top {
	color: #FFF;
	margin-top:20px;
  }
.footer-top > li > a {
	color: #FFF;
}
.nav-hhz {
	margin-top:8px;
	margin-bottom: 5px;
	margin-left:0;
}
.nav-hhz > li {
	color: #d0d0d0;
	float: left;
	margin-right: 10px;
}
.nav-hhz > li > a {
	color: #d0d0d0;
	padding:0 3px;
	font-size: 12px;
}
.nav-hhz >li.active> a, .nav-hhz >li.active>a:focus {
	color: #FFF;
}
.nav-hhz >li>a:hover {
	color: #fff;
	background-color:#5cd0c2;
}
 
.hhz-header{
	background-color:#8fe0ca;
	width:100%;
	padding:15px;
	font-size:16px;
	position:relative;
	z-index:5;
	font-weight: 400;
 }
.headertwo{
	background: #f5f5f5;
	height: 30px;
	line-height: 30px;
	color:#b5b5b5;
	margin-bottom: 30px;
			position:relative;
				width:100%;

}
.headertwo >ul{
	text-align: center;
	margin:0 auto;
	width:960px;
	padding-left:200px;
 }
.headertwo >ul> li {
	float: left;
	margin-right: 10px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	list-style: none;
}
.headertwo >ul> li>a {
	float: left;
	color:#b5b5b5;
	text-decoration:none;
		padding: 0 5px;

}
.headertwo >ul>li>a:hover{
	background:#8fe0ca;
	color:#fff;
}

@media screen and (min-width:960px){
#header{width:960px; 	 
	margin:0 auto;}


}
@media screen and (min-width:768px) and (max-width:959px){
#header{width:750px; 	 
	margin:0 auto;}
	ul.nav-head{display:none;}
.hhz-leftdetail{display:none;}
.headertwo{display:none;}
}
@media screen and  (max-width:767px){
#header{width:100%; 	 
	margin:0 auto;}
	ul.nav-head{display:none;}
.hhz-leftdetail{display:none;}
.headertwo{display:none;}

}

#headimg:hover,#headimg:active{
	background-color:#5cd0c2;
}	
#float{z-index:10;		position:relative;}
#headimg  {
	padding:0;
right: 0;
margin-right:20px;
margin-top:20px;
	position:fixed;
	background-color:#8fe0ca;
}
#top  {
bottom: 0;
right:0;
margin-right:20px;
margin-bottom:20px;
	position:fixed;
}
#share  {
bottom: 0;
left:0;
width: 30px;
margin-left:20px;
margin-bottom:20px;
	position:fixed;
}
.logoleft {
	margin-left:20px;
margin-top:20px;
	position:fixed;
	left:0;
}

.nav-head {
	margin-top:13px;
	margin-left:0;
}
.nav-head > li {
	float: left;
	margin-right: 10px;
}
.nav-head > li > a {
	color: #fff;
	padding: 2px 15px;
}
.nav-head >li.active> a, .nav-had >li.active>a:focus {
	color: #FFF;
	background-color: #5cd0c2;
}
.nav-head >li>a:hover {
	color: #FFF;
	background-color: #5cd0c2;
}
#main{
	z-index:0;
	margin-top: 30px;
}
.footer{
	z-index:5;  
		background-color:#414243;
		bottom:0;
		width:100%;
		}
#moretest{
 margin-left:auto;
 margin-right:auto;
 width:100px;
 text-align:center;
}
@media screen and (min-width:960px){
#footer {
	width:960px;
	margin:0 auto;
}
.hhz-more{
	margin:0 auto;
	width:960px;
	margin-bottom:20px;

}
}
@media screen and (min-width:768px) and (max-width:959px){
#footer {
	width:470px;
	margin:0 auto;
}
.hhz-more{
	margin:0 auto;
	width:470px;
	margin-bottom:20px;

}
}
@media screen and  (max-width:767px){
#footer{
	margin:0 auto;
	font-size:10px;
	padding-bottom: 10px;
}
.hhz-more{
	margin:0 auto;
	width:320px;
	margin-bottom:20px;

}
}

div.side-menu {
  position:fixed;
  top: 0;
  right: -150px;
  width: 150px;
  height: 100%;
  background-color:rgba(255,255,255,0.9);
  z-index: 3;
  -webkit-transition: right .3s;
  transition: right .3s;
	font-size:14px;
}
  #menuul{
	margin-top:80px;
    padding:10px;
    text-align: left;		  	 
}

  div.side-menu.open {
    right: 0;
  }
  #menuul>li{
	  list-style:none;
	  margin-bottom:10px;
  }
  #menuul>li>a{
	  color:#414243;
	  cursor:pointer;
	  text-decoration:none;

  }
   .right-list{
	background: none  ;
	float: none ;
	border: 0 ;
	box-shadow: none ;
	position: relative ;
	display: block;
	 }
   .right-list li{
	   list-style-image:none;
       width:120px;
	   text-align:center;
	   
   }
   .right-list li .hhz-active{
   	color: #5cd0c2;
   }
 .right-list li>a{
	 color:#959393;
 }
  .right-list li:active>a{
	  background: url("../images/haohaozhu/triicon.png") no-repeat ;
	  padding-left: 18px;
  }
  .right-list li>a:hover,li:active>a{
	  color: #5cd0c2;
	  background:none;
  
  }



.nav-more > li > a {
	color: #000;
	padding: 1px 10px;
	font-size: 12px;
}

.nav-more>li>a:hover {
	color: #FFF;
	background-color: #000;
}
.nav-more > li {
	float: left;
	border: 1px solid #000;	
}



#hhz-waterfalls {
	margin:30px auto 20px auto;
	z-index:0;
		position:relative;

}
@media screen and (min-width:960px){
	#hhz-waterfalls {
	width:960px;
}
.hhz-board{
	width:460px;
		margin-right:20px;

	}
.hhz-boardimg{
}
}

@media screen and (min-width:768px) and (max-width:959px){

#hhz-waterfalls {
	width:465px;
}
.hhz-board{
	width:465px;
		margin-right:0;
	}
.hhz-boardimg{
}
}
@media screen and  (max-width:767px){
#hhz-waterfalls {
	width:470px;
}
.hhz-board{
	width:470px;
		margin-right:0;
	}
.hhz-boardimg{
}
}
@media screen and  (max-width:470px){
#hhz-waterfalls {
	width:100%;
}
.hhz-board{
	width:96%;
	margin-left: 2%;
	}
.hhz-boardimg{
}
}

.hhz-board {
	float: left;
	height:76%;
}
 

.hhz-boardimg {
	float: left;
	width: 100%;
	overflow:hidden;
 	position: relative;
}
.hhz-boardtext {
	background: #fff;
	color: #959393;
    padding: 3% 5px;
	float: left;
	width:100%;
	height: 100%;
	font-size:14px;
	line-height: 1.6;
}
.hhz-boardtext h1>a{
	font-weight: 400;
	font-size:22px;
	color:#414243;
}
.hhz-boardtext h1>a:hover{
	color:#5cd0c2;
	text-decoration:none;
		  cursor:pointer;

}
.hhz-boardtext h2>a{
	font-weight: 400;
	font-size:22px;
	color:#414243;
	line-height: 1.4;
}
.hhz-boardtext h2>a:hover{
	color:#5cd0c2;
	text-decoration:none;
		  cursor:pointer;

}



.hhz-green>h3 {
	color: #319393;
}
 
.imgs {
	margin-top: 10px;
	padding: 0;
}
/*频道页*/
@media screen and (min-width:960px){
.hhz-channel{
	width:600px;

}
.hhz-channelimg {
	height:225px;
}
.hhz-channeltext{
}
}

@media screen and (min-width:768px) and (max-width:959px){

.hhz-channel{
	width:600px;

}
.hhz-channelimg {
	height:225px;
}
.hhz-channeltext{
}
}
@media screen and  (max-width:767px){
#main.container{
	margin:0;
	}
.hhz-channel{
	width:100%;
}
.hhz-channelimg {
}
.hhz-channeltext{
}
.hhz-left{display:none;}
}
.hhz-channel {
	float: left;
	 	position: relative;
		background-color:#fff;
;
}
 

.hhz-channelimg {
	float: left;
	width: 100%;
	overflow:hidden;
	padding:0 10px;
}
.hhz-channeltext {
	color: #959393 ;
	padding: 10px;
	float: left;
	width: 100%;
	overflow:hidden;
}
.hhz-channeltext h1>a{
	color:#414243;
	font-size: 26px;
	font-weight: 400;
	line-height: 1.8;
}

.hhz-channeltext h1>a:hover{
	color:#5cd0c2;
	text-decoration:none;
		  cursor:pointer;

}
  .lefts>li.hhz-active{
	  color: #5cd0c2;
	  /*background: url("../images/haohaozhu/triicon.png") no-repeat ;*/
	  padding-left: 18px;
  }
  .lefts li>a:hover,li:active>a{
	  color: #5cd0c2;
	  text-decoration:none;

  }
.hhz-left{
	width:140px;
	height:480px;
	background-color:#ffffff;
	float:right;
	margin-right:-10px;
	overflow:hidden;
}
.hhz-left div {
	padding-left: 18px;
}
.hhz-column ul>li{
	padding-left: 18px;
	margin-bottom:15px;
}

.hhz-left ul>li>a{
	font-size:14px;
	color:#959393;
}
.hhz-keywords ul{
}
.hhz-keywords li{
	padding-left: 20px;
	margin-bottom:15px;
}
.hhz-left ul>h3{
	margin-bottom:15px;
    font-weight: 400;
	font-size:14px;
	color:#414243;
	background: url("../images/haohaozhu/triicondown.png") no-repeat ;
	padding-left: 18px;
}	
/*详情*/


.hhz-leftdetail{
	width:120px;
	height:260px;
	float:right;
	margin-right:-10px;
	padding:20px;
	overflow:hidden;
}
.hhz-leftdetail a{
	font-size:14px;
	color:#959393;
	text-align:center;
	margin:10px;
}

/*channel end*/
@media screen and (min-width:960px){
.hhz-detail {	width:600px;

}
.hhz-detailimg {
	float: left;
	width: 100%;
		margin-bottom:10px;
}

}

@media screen and (min-width:768px) and (max-width:959px){
.hhz-detail {	width:600px;

}
.hhz-detailimg {
	float: left;
	width: 560px;
		margin-bottom:10px;
}
}
@media screen and  (max-width:767px){
/*.mainrow{width:100%;}*/
.hhz-detail {	width:auto;
}
.hhz-detailimg {
	width:auto;

}
.share-top i{font-size:13px} 
}
.hhz-detail {
	float: left;
	margin-bottom:20px;
 	position: relative;
/*	padding-left:25px;
	padding-right:25px;*/
}
 

.hhz-detailimg {
	float: left;
		margin-bottom:10px;
}
.nav-detail {
	margin-bottom: 15px;
	margin-left:0;
}
.hhz-detail  p{
	color:#999;
	text-indent:10px;
	margin-bottom:10px;
	margin-top:10px;
	font-size:14px;
}
.hhz-detail  h1{
	color:#414243;
	margin-bottom:20px;
	font-size:26px;
}
.nav-detail > li {
	float: left;
	margin-right: 10px;
}
.nav-detail > li > a {
	color: #d0d0d0;
	padding: 0 5px;
	font-size: 12px;
}
.nav-detail >li.li>a:hover> a, .nav-detail >li.active>a:focus {
	color: #FFF;
	background-color: #5cd0c2;
}
.nav-detail >li>a:hover {
	color: #FFF;
	background-color: #5cd0c2;
	
}
 
.detail_foot {
	color:#5cd0c2;
	text-align:center;
	font-size:16px;
	margin-top:50px;
	margin-bottom:20px;
}
.login{
	float:right;
}
.share-top li{
	margin:0 0 15px 0;
	padding:0;
}
.share-top li>a{
		  text-decoration:none;
		    color:#999;		  
}
.share-top li>a:hover{
		  text-decoration:none;
		    color:#5cd0c2;
}
.share li{
	margin:10px 0px;
	padding:0;
}
.share li>a{
		  text-decoration:none;
		    color:#999;		  
}
.share li>a:hover{
		  text-decoration:none;
		    color:#5cd0c2;
}
#big{
		text-align:center;
		width:100%;
		margin:0 auto;
}
.nav-big{
	margin-top:15px;
	margin-bottom:5px;
}
.nav-big > li {	 

	float: left;
		margin-bottom:15px;

	margin-right: 10px;
	border: 3px solid #5cd0c2;
}
.nav-big > li > a {
	color: #5cd0c2;
	padding: 15px 25px;
	font-size: 25px;
}
.nav-big >li>a:hover {
	color: #FFF;
	background-color: #5cd0c2;
	
}
.imgLazyLoad{
	width: 100%;
	max-width: 100%
}
.side-dis{
	width: 100%;
	top: 0;
	height: 0px;
	display: none;
	z-index: 2;
	position: fixed;
}
.share-layer{
	width: 100%;
	z-index: 15;
	height: 90px;
	background-color:rgba(255,255,255,1);
	position: fixed;
	bottom: -100px;
	-webkit-transition: bottom .3s;
  	transition: bottom .3s;
}
.share-layer.open{
	bottom: 0;
}
.share-button {
	width:100%;
	margin-top:10px;

}
.share-button>a{
	width:33%;
			text-decoration:none;
			display:block;
			text-align:center;
			float:left;
			color:#8fe0ca;

}
.hhz-shareLayerClose{
	display: block;
	width: 100%;
			text-align: center;
			position:absolute;
			bottom:0;
			margin-top:20px;
	
	
	
}
.hhz-shareLayerClose >a{
	width: 100%;
			background-color: #f0f0f0;
			display:block;
	color:#414243;
	font-size:14px;
	padding:5px 0;
		text-decoration:none;

}