a:link,a:active,a:visited{font-size: 10pt; color: #6a6a6a; text-decoration: none; font-weight: 700;}
a:hover{ font-size: 10pt; color: #3a3a3a; text-decoration: none; font-weight: 700;}
hr{color:#dedede;border-style:1px dotted; width:100%;}
.bs-adm-menu{list-style: none;padding: 0px;margin: 0px;}
.bs-adm-menu li{margin-bottom: 7px;}
.bs-iconsp{padding-left:15px;background-position:left;height: 20px;}
.bs-h4{border-bottom: 1px solid #bcbcbc; margin-bottom: 10px;}
.bs-tbKey{width: 80px;}
.bs-dtgrid-menu-span{margin-right: 10px;padding: 3px;padding-right: 5px;}
.bs-dtgrid-menu-span .right-border{border-right: 1px solid #dedede}
.bs-icon-left{background-position: left;padding-left: 20px;}

.bs-input-size-min{width: 30px}
.bs_border_alarm{border:1px solid #ff0000}
.bs_border_normal{border:1px solid #6e6e6e}

.bs_df_descspan{color: #7a7a7a;margin: 0px;margin-left: 10px;}
.bs_df_charcount{margin: 0;margin-left: 10px;color: #cdcdcd}
.bs_adm_formtable{}
.bs_adm_formtable .nameTd{width: 100px; text-align: right;}
.bs_adm_btnpanel{height: 30px;margin-bottom: 5px;}
.bs_ulMix{margin: 0px;padding: 0px;width: 100%}
.bs_ulMix li{list-style-type:none; display:block; border:1px solid #ccc; background:#fafafa; color:#444;margin-bottom: 5px;}
.bs_ulMix li .aDelMix{float: right;right: 5px;position: relative;padding: 0px}


.indicator{position:absolute;font-size:9px;width:10px;height:10px;display:none;color:red;}